body{

width:97vw;

height:auto;

background-color:white;

font-size:4.5vw; 

}

@media screen and (orientation: landscape) {

body{

font-size:2.5vw;    

}

}

.unselectable {

    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

}   

fcon {

  position:fixed;

  font-family: 'Material Icons';

  font-weight: normal;

  font-style: normal;

  font-size: 1.6em;

  display: inline-block;

  line-height: 1;

  text-transform: none;

  letter-spacing: normal;

  word-wrap: normal;

  white-space: nowrap;

  direction: ltr;

  

  color:#ffc838;

  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;

      font-feature-settings: 'liga';

}

acon {

  position:absolute;

  font-family: 'Material Icons';

  font-weight: normal;

  font-style: normal;

  font-size: 1.6em;

  display: inline-block;

  line-height: 1;

  text-transform: none;

  letter-spacing: normal;

  word-wrap: normal;

  white-space: nowrap;

  direction: ltr;

  

  color:#ffc838;

  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;

      font-feature-settings: 'liga';

}

app-header{

position:fixed;  

width:100vw;

height:3em; 

background-color:#FF3E4D;

top:0em;

left:0em;

border-width:0.2px;

border-left-color:none;

border-right-color:none;

border-bottom-color:#dcdcdc;

border-top-color:rgb(34,34,43);

}

app-footer{

position:fixed;  

width:100vw;

height:3em; 

background-color:#FF3E4D;

bottom:0em;

left:0em;

border-width:0.2px;

border-left-color:none;

border-right-color:none;

border-bottom-color:#dcdcdc;

border-top-color:rgb(34,34,43);

}

.fimg{

position:fixed;    

}

.aimg{

position:absolute;    

}

.fullimg{

width:100vw;  

height:15em;  

left:0;

}

.userimg{

width:2em;  

height:2em;  

display:inline-block;

border-radius:50%;   

}

sidebar{

position:absolute; 

top:0;   

left:0;

width:70vw;

height:100%;

background-color:white;

overflow-y:scroll hidden;

border-right-style:solid;

border-color:#dcdcdc;

}

.closebar{

top:0.2em;

left:60vw; 

color:brown; 

}

.barimg{

width:70vw; 

top:0;

left:0; 

position:fixed; 

height:10em;

}

ftxt{

position:fixed;  

}

atxt{

position:absolute;    

}

fbox{

position:fixed;    

}

abox{

position:absolute;    

}

@media screen and (orientation: landscape){

sidebar{

width:50vw;    

}

.barimg{

width:50vw;    

}

.closebar{

left:45vw;    

}

    

}

.scroll{

position:absolute; 

width:100vw; 

height:12em; 

left:0;

overflow-x:scroll hidden; 

overflow-y:hidden;

white-space:nowrap;

}

filler{

position:absolute;

left:0;

width:100vw; 

height:3em;   

}

